*.o

*.so
*.so.*

dwm
st
slstatus
*.out

*.dSYM/
*.stackdump
core
vgcore.*
*.core

Makefile.in
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
meson-logs/
meson-private/
build/
_build/
*.ninja
.ninja_deps
.ninja_log

*.log

*.patch

*~
*.swp
*.swo
*.swm
*.swn
*.kate-swp
*.tmp
*.bak
*.orig
*.rej

.idea/

.DS_Store
